.my_button {
    background: #14b19b;
    border-color: transparent;
}

.my_button:hover {
    background: #eb4e64;
    border-color: transparent;
}

.my-button-create {
/ / background: #14b19b;
    border-color: transparent;
    margin-right: 3px;
}

.my-button-create:hover {
    background: #35ACE8;
    border-color: transparent;
}


.my_text, .my_text > b {
    color: #14b19b;
}

.my_text:hover, .my_text > b:hover {
    color: #eb4e64;
}

.page-content-wrap {
    float: left;
    width: 100%;
}

textarea {
    resize: none;
}

.my-border {
    border: #14b19b solid 0.9px;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #14b19b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.my-label {
    font-size: 16px;
    font-weight: 900;
}

/*=== 2.5 ACCORDION ===*/
.accordion .card-header:after {
    cursor: pointer;
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}

.accordion .card-header.collapsed:after {
    cursor: pointer;
    /* symbol for "collapsed" panels */
    content: "\f067";
}

.my-profile {
    border-style: dashed;
    border-color: rgba(131, 129, 126, 0.4);
    border-top: transparent;
    border-right: transparent;
    border-bottom: transparent;
}

.my-color {
    font-size: 18px;
    color: #ffffff;
}

.my-text-span {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.img_none {
    display: none;
}

.v-center {
    align-content: center;
    vertical-align: middle;
}

.my-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: 100%;
    max-height: 450px;
}

.content-my-img {
    width: 100%;
    height: auto;
    max-height: 450px
}

.align-my-text {
    margin: auto;
    text-align: center;
    color: black;
}

.align-my-paragraph {
    text-align: justify;
    font-size: large;
}
.upletter{
    text-transform: uppercase;
}

.margin-search{
    margin-right: 3px;
}

